/**
/* frontend.css
 */

.epf-search form.epf-search-form {
	display: flex;
}

input.epf-search-textbox,
.epf-search form.epf-search-form .select {
	margin-right: 10px;
}

input.epf-search-textbox, 
input.epf-search-button {
	font-size: 1em;
	padding: 10px;
}

input.epf-search-textbox {
	width: calc(60% - 5px);
	height: 2.8em;
}

.epf-search form.epf-search-form .select,
input.epf-search-button {
  width: 20%;
}

.epf-purchase-details , .epf-purchase-history{
	margin-top: 5%;
	overflow: hidden;
	overflow-x: auto;
	display:block;
}

/* Error display Messages*/
.epf-error-no-login,.epf-error-no-permission,.epf-error-invalid-request{
  color:red;
}

.epf-error-no-purchases,.epf-error-no-email{
 color:green;
}

@media(max-width: 768px) {
	form.epf-search-form {
		display: block !important;
	}
	input.epf-search-textbox,
		.epf-search form.epf-search-form .select,
		input.epf-search-button {
		width: 100%;
		margin-bottom: 20px;
	}

	.epf-search form.epf-search-form .select .epf-select {
		height: auto;
	}
}