/**
/* forntend.css
 */
input[type="email"].epf-seach-textbox, 
input[type="submit"].epf-seach-button {
    font-size: 1em;
    padding: 10px 10px;
}
input[type="email"].epf-seach-textbox {
    width: calc(79% - 5px);
    margin-right: 5px;
}
input[type="submit"].epf-seach-button {
    width: 20%;
}

.epf-product-details-table{
  margin-top: 5%;
}
  

/* Error display Messages*/
.epf-error-no-login,.epf-error-no-permission,.epf-error-invalid-request{
  color:red;
}
.epf-error-no-purchases,.epf-error-no-email{
 color:green;
}

@media only screen and (max-width: 768px) {
.epf-product-details-table {
overflow: hidden;
overflow-x: scroll;
display:block;
}
}