.edd_pd_seach_textbox{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.edd_pd_seach_Button{
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.edd_pd_seach_Button:hover {
  background: #0b7dda;
}

.edd_pd_seach_Button::after {
  content: "";
  clear: both;
  display: table;
}